* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* a {
  text-decoration: none;
}

* img {
  width: 100%;
}

* input {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color 0.15s;
}

* button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color 0.15s;
  background: #dc3545;
  color: white;
}

* body {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
}

* body .header {
  padding: 0px 15px 0px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

* body .header__logo {
  display: flex;
  align-items: center;
}

* body .header__logo__seach {
  width: 100%;
  padding-left: 15px;
  display: flex;
}

* body .header__logo__seach input {
  width: 100%;
}

* body .header__sign ul li {
  display: inline-block;
  padding-left: 15px;
}

* body .header__sign ul li span {
  font-size: 17px;
}

* body .banner img {
  display: block;
}

* body .nav {
  background: #9a9c9e;
  height: 50px;
  align-items: center;
  display: flex;
}

* body .nav li {
  display: inline;
  font-size: 20px;
  padding-left: 15px;
  font-weight: bold;
}

* body .nav li a {
  color: white;
}

* body .main-content {
  display: flex;
  flex-direction: row;
}

* body .content {
  width: 70%;
}

* body .content .posts {
  display: flex;
  border-bottom: 1px solid #e2cccc;
}

* body .content .posts__avatar {
  width: 13%;
  padding: 15px 15px 15px 15px;
}

* body .content .posts__avatar img {
  border-radius: 50%;
}

* body .content .posts__detail {
  width: 87%;
  padding: 15px 15px 15px 15px;
}

* body .content .posts__detail__title {
  display: flex;
  justify-content: space-between;
}

* body .content .posts__detail__title h3 {
  padding: 0px 0px 10px 15px;
}

* body .content .posts__detail__title h3 a {
  color: black;
}

* body .content .posts__detail__title ul {
  display: flex;
}

* body .content .posts__detail__title ul li {
  display: flex;
  padding-left: 15px;
}

* body .content .posts__detail__title ul li a {
  color: black;
}

* body .content .posts__detail__tag {
  padding-bottom: 20px;
}

* body .content .posts__detail__tag li {
  display: inline;
}

* body .content .posts__detail__tag li a {
  color: white;
  background: grey;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  margin: 1px;
  font-size: 14px;
}

* body .content .posts__detail__content p {
  font-size: 17px;
}

* body .content .posts__detail__time {
  padding-top: 20px;
  text-align: right;
  font-size: 15px;
  color: grey;
}

* body .author {
  width: 30%;
}

* body .author__name .author-title {
  height: 60px;
  align-items: center;
  display: flex;
  justify-content: center;
}

* body .author__name .author-user {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

* body .author__name .author-user__avatar {
  width: 17%;
}

* body .author__name .author-user__name {
  padding-left: 15px;
}

* body .author .aside__tag {
  padding-top: 25px;
}

* body .author .aside__tag .tag__title {
  align-items: center;
  display: flex;
  justify-content: center;
}

* body .author .aside__tag .tag__keyword {
  text-align: center;
  padding: 25px 25px 0px 25px;
}

* body .author .aside__tag .tag__keyword a {
  margin: 1px 1px;
  display: inline-block;
  font-size: 15px;
  background: grey;
  padding: 5px;
  border-radius: 3px;
  color: white;
}

* body footer {
  display: flex;
  height: 60px;
  justify-content: space-around;
  align-items: center;
}

* body footer .address li {
  display: inline-block;
  padding-right: 10px;
  font-weight: bold;
}

* body #modal_in_up {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(93, 93, 93, 0.5);
  position: fixed;
  top: 0;
  left: 0;
}

* body #modal_in_up #modal-login {
  border-radius: 10px;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 500px;
  background: white;
  transform: translate(-50%, -50%);
}

* body #modal_in_up #modal-login .close-in {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0px 10px 0px 10px;
}

* body #modal_in_up #modal-login .modal__in {
  margin: 30px 30px;
}

* body #modal_in_up #modal-login .modal__in .login__tab {
  display: flex;
  justify-content: space-around;
  height: 60px;
  align-items: center;
}

* body #modal_in_up #modal-login .modal__in .in__content__in {
  padding: 10px 20px;
}

* body #modal_in_up #modal-login .modal__in .in__content__in .forget-pass {
  text-align: right;
  padding-top: 15px;
  display: block;
  height: 30px;
}

* body #modal_in_up #modal-login .modal__in .in__content__in input {
  margin-top: 15px;
  width: 100%;
}

* body #modal_in_up #modal-login .modal__in .in__content__in button {
  margin: 30px 0px;
  width: 100%;
}

* body #modal_in_up #modal-login .modal__in .in__content__in .rules-check input {
  width: auto;
}

* body #modal_in_up #modal-login .modal__in .in__content__up {
  padding: 10px 20px;
}

* body #modal_in_up #modal-login .modal__in .in__content__up .forget-pass {
  text-align: right;
  padding-top: 15px;
  display: block;
  height: 30px;
}

* body #modal_in_up #modal-login .modal__in .in__content__up input {
  margin-top: 15px;
  width: 100%;
}

* body #modal_in_up #modal-login .modal__in .in__content__up button {
  margin: 30px 0px;
  width: 100%;
}

* body #modal_in_up #modal-login .modal__in .in__content__up .rules-check input {
  width: auto;
}

* body #modal_in_up #modal-login .modal__in .in__footer {
  display: flex;
  align-items: center;
  padding: 20px;
}

* body #modal_in_up #modal-login .modal__in .in__footer .in__horizontal {
  flex: 1;
  height: 1px;
  background-color: #d6d6d7;
}

* body #modal_in_up #modal-login .modal__in .in__footer .in__between {
  padding: 0 15px;
}

* body #modal_in_up #modal-login .modal__in .in__icons {
  display: flex;
  align-items: center;
  height: 60px;
  justify-content: space-evenly;
}

@media only screen and (max-width: 768px) {
  body .content {
    width: 100%;
  }
  .author {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  body .content .posts__avatar {
    width: 23%;
  }
  body .content .posts__detail {
    width: 77%;
  }
  body footer {
    display: inline;
    text-align: center;
  }
  body footer .address {
    padding: 10px 0px 7px 0px;
  }
}

@media only screen and (max-width: 400px) {
  body .content .posts__avatar {
    width: 30%;
  }
  body .content .posts__detail {
    width: 70%;
  }
  body .content .posts__detail__title {
    display: inline-block;
  }
}
/*# sourceMappingURL=style.css.map */