.author__hot__title {
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .author__hot__content .author__user {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .author__user__avatar {
    width: 20%;
    padding-left: 15px;
  }
  
  .author__user__name {
    width: 80%;
    padding-left: 15px;
    font-size: 15px;
  }
  
  .author__user__name a {
    color: grey;
  }