.common__tag {
    padding-top: 25px;
  }
  
  .common__tag .common__tag__title {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .common__tag .common__tag__keyword {
    text-align: center;
    padding: 25px 25px 0px 25px;
  }
  
  .common__tag .common__tag__keyword a {
    margin: 1px 1px;
    display: inline-block;
    font-size: 15px;
    background: grey;
    padding: 5px;
    border-radius: 3px;
    color: white;
  }