 /* ----------------------------HEADER---------------------------------- */
.header {
  padding: 0px 15px 0px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.logo {
  width: 60%;
  display: flex;
  align-items: center;
}
.logo__image {
  width: 25%;
}
.logo__seach {
  width: 75%;
  padding-left: 15px;
  display: flex;
}
.logo__seach input {
  width: 100%;
}
.sign {
  display: flex;
  text-align: right;
}
.seach__collapse, .logo__seach__collapse {
  display: none;
}
.sign span {
    cursor: pointer;
    font-size: 15px;
}

/* ----------------------------------BANNER--------------------------- */

.banner img {
  display: block;
  max-height: 200px;
}


/* ------------------RESPONSIVE------------------ */

@media only screen and (max-width: 600px) {
  .logo{
    width: 70%;
  }
  .btn-sign-collapse {
    display: none;
  }
}

@media only screen and (max-width: 420px) {
  .logo {
    width: 35%;
  }
  .logo .logo__image {
    width: 100%;
  }
  .sign {
    text-align: right;
    display: inline;
    width: 35%
  }
  .seach__collapse {
    width: 30%;
    display: block;
    padding-left: 50px;
  }
  .logo__seach {
    display: none;
  }
}