.profile {
    display: flex;
   height: 220px;
    width: 60%;
    align-items: center;
}
.profile__avatar {
    width: 20%;
    margin: 0 20px 0 10px;
}
.profile__avatar img {
    border-radius: 50%;
    border: 1px solid #f5e8e8;
}
.profile__user {
    width: 50%;
    text-align: center;
}
.profile__user .profile__user__name {
    padding: 15px 0 15px 0;
}
.profile__user .profile__user__follow button {
    width: 60%;
}
.profile__user .profile__user__icons {
    display: flex;
    justify-content: space-evenly;
    padding: 15px 0 15px 0;;
}
.profile__work  {
    width: 25%;
    display: flex;
    flex-direction: column;
}
.profile__work p {
    padding-bottom: 12px;
}


@media only screen and (max-width: 600px) {
    .welcome {
      width: 100%;
    }
  }
  