.author {
  padding-left: 10px;
}
.author__hot__title {
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .author__hot__content .author__user {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .author__user__avatar {
    width: 30%;
    padding-left: 15px;
  }
  .author__user__avatar img {
    border-radius: 50%;
  }
  .author__user__name {
    width: 70%;
    padding-left: 15px;
  }

  .author__user__name a {
    color: grey;
  }