.author {
  padding-left: 10px;
}
.author__hot__title {
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .author__hot__content .author__user {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .author__user__avatar {
    width: 30%;
    padding-left: 15px;
  }
  .author__user__avatar img {
    border-radius: 50%;
  }
  .author__user__name {
    width: 70%;
    padding-left: 15px;
  }

  .author__user__name a {
    color: grey;
  }
  .author__icons {
    display: flex;
    padding-top: 10px;
  }
  .author__icons p {
    width: 33.33%;
  }
  .icon__tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}
.icons__tooltip:hover .tooltip {
  visibility: visible;
}